/* BLOCK */
.Menu {
  position: relative;
  display: inline-block;
}

/* ELEMENT */
.Menu__List {
  position: absolute;
  z-index: 110;
  top: 100%;
  left: 0;
  right: 0;

overflow-x: hidden; /* Hide vertical scrollbar */
  
  max-height: 80vh;
  padding: 0;
  margin: 0;
  border-top: 2px solid rgb(255, 156, 75);
  box-shadow: var(--box-shadow-2);

  text-align: justify;
  list-style: none;
  background-color: var(--background-color-2);
  
}
.Menu__List ::-webkit-scrollbar {
  width: 2px;
}

.Menu__List::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255); 
  border-radius: 10px;
}
 
/* Handle */
.Menu__List::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0); 
  border-radius: 10px;
}

/* Handle on hover */
.Menu__List::-webkit-scrollbar-thumb:hover {
  background: #141414; 
}
.Menu__Header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  padding: 0.5rem 0rem;
}

.Menu__SelectedItem {
  min-width: 32px;
  text-align: right;
}

.Menu__Placeholder {
  color: var(--gray-500);
  font-weight: bold;
}

.Menu__Item {
  border-bottom: 1px solid var(--gray-300);
  padding: 0.75rem;
}

.Menu__Item:hover,
.Menu__Item:focus {
  color: var(--text-color-dark);
  background-color:rgb(185, 185, 185);
  cursor: pointer;
}

.Menu__Item:last-of-type {
  border: none;
}

/* MODIFIER */
