@import './_settngs/variables.css';


.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #fefefe;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: all 150ms ease;
  transition-property:  opacity, background-color, transform, mix-blend-mode;
}
.cursor--hidden {
   transform: translate(-50%, -50%) scale(0.9);
   background-color: #ffffff;
 }

.cursor--link-hovered {
 transform: translate(-30%, -30%) scale(1.75);
  background-color: #ffffff;
 }

 a {
   text-decoration: underline;
   color: #ffffff;
 }

.App {
  --footer-height: 64px;

  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  

  padding-bottom: var(--footer-height);
  text-align: center;
  color: var(--text-color);

  background-color: var(--background-color-1);
  transition: color 250ms;
  transition: background-color 500ms ease-in-out;
}

.App__Body {
  padding-top: 64px;
}

.App_modal_open {
  height: 100vh;
  overflow-y: hidden;
}

.App_modal_open footer {
  display: none;
}

@media (max-width: 599px) {
  .App {
    --footer-height: 160px;
  }
}
